<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.OrderReciveMapper" >
  <resultMap id="BaseResultMap" type="model.OrderRecive" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mail_id" property="mailId" jdbcType="INTEGER" />
    <result column="mailman_id" property="mailmanId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mail_id, mailman_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="model.OrderReciveExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from order_recive
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_recive
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_recive
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="model.OrderReciveExample" >
    delete from order_recive
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="model.OrderRecive" useGeneratedKeys="true" keyProperty="id">
    insert into order_recive (id, mail_id, mailman_id
      )
    values (#{id,jdbcType=INTEGER}, #{mailId,jdbcType=INTEGER}, #{mailmanId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="model.OrderRecive" useGeneratedKeys="true" keyProperty="id">
    insert into order_recive
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mailId != null" >
        mail_id,
      </if>
      <if test="mailmanId != null" >
        mailman_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mailId != null" >
        #{mailId,jdbcType=INTEGER},
      </if>
      <if test="mailmanId != null" >
        #{mailmanId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="model.OrderReciveExample" resultType="java.lang.Integer" >
    select count(*) from order_recive
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_recive
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mailId != null" >
        mail_id = #{record.mailId,jdbcType=INTEGER},
      </if>
      <if test="record.mailmanId != null" >
        mailman_id = #{record.mailmanId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_recive
    set id = #{record.id,jdbcType=INTEGER},
      mail_id = #{record.mailId,jdbcType=INTEGER},
      mailman_id = #{record.mailmanId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="model.OrderRecive" >
    update order_recive
    <set >
      <if test="mailId != null" >
        mail_id = #{mailId,jdbcType=INTEGER},
      </if>
      <if test="mailmanId != null" >
        mailman_id = #{mailmanId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.OrderRecive" >
    update order_recive
    set mail_id = #{mailId,jdbcType=INTEGER},
      mailman_id = #{mailmanId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getOrderReciveByMailmanIdAndMailId" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from order_recive
    where mail_id = #{mailId,jdbcType=INTEGER}
    AND  mailman_id = #{mailmanId,jdbcType=INTEGER}
  </select>

  <select id="getOrderReciveByMailmanId" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from order_recive
    where  mailman_id = #{mailmanId,jdbcType=INTEGER}
    limit #{beginPos,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>

  <select id="getOrderReciveByMailmanIdPageNum" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
    select count(*) from order_recive
    WHERE mailman_id = #{mailmanId,jdbcType=INTEGER}
  </select>

</mapper>